.navbar{
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgb(25, 25, 73);
padding: 10px 0px;
}
.nav_links li{
    display: inline-block;
    margin: 0px 10px;
}
.nav_links a{
    color: white;
    text-decoration: none;
}
#one{
    color: rgb(233, 92, 120);
}

#four{
    color: rgb(188, 179, 179);
}